@import "./colors.scss";
footer{
    background-color: $first;
    height: 100px;
    width: 100%;
    color: $dark;
    



    

        > .copyright{
            display: flex; 
            flex-direction: column; 
            justify-content: center;
            height: 50px;        
            bottom: 0;
            width: 100%;
            background-color: $second;
            color: $first;
            text-align: center;

        }
    
    
    
    
    
}